<!-- 
  Name: Jun Song
Seneca ID Number : 141973198
Date: 2020-10-25
Purpose: approve for submitting WEB322 Assignment2
 -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="/logo.ico">
  <title>Stays with WWBnB</title>
  <!-- <link
      rel="stylesheet"
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
    /> -->
  <link rel="stylesheet" href="/css/style.css" />

  <script src="/js/index.js" defer></script>
  <script src="https://kit.fontawesome.com/a3fe2e3e5e.js" crossorigin="anonymous"></script>
</head>

<body>
  {{#isEqual message "failure"}}
  <script>
    window.onload = function () {
      var overlay = document.querySelector(".overlay");
      var logIn = document.querySelector(".overlay > .log-in");
      var signUp_Form = document.querySelector(".overlay > .sign-up");
      overlay.style.display = "flex";
      logIn.style.display = "none";
      signUp_Form.style.display = "block";
    }
  </script>
  {{/isEqual}}
  {{#isEqual message "login-failure"}}
  <script>
    window.onload = function () {
      var overlay = document.querySelector(".overlay");
      overlay.style.display = "flex";
    }
  </script>
  {{/isEqual}}
  {{#isEqual message "success"}}
  <script>
    alert(`Welcome to WWBnB`);
  </script>
  {{/isEqual}}
  <div class="overlay">
    {{> sign_login}}
  </div>
  <header>
    {{> header}}
  </header>
  <main>
    <div class="info_section">
      <div class="desc">
        <div class="text">
          <h1>Info - About Us</h1>
          <p>Do you want to know why we are called WWB&B?</p>
          <p>Please click the banner for knowing more about us!</p>
        </div>
        <button class="explore_btn aboutUs" onclick="location.href='/aboutUs';">
          Explore more
        </button>
      </div>
      <div class="card-container">
        <div class="card" onclick="location.href='/aboutUs';">
          <div class="img" style="
                background-image: url('https://images.unsplash.com/photo-1513584684374-8bab748fbf90?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1046&q=80');
              "></div>
          <div class="description">
            <div class="title">Unique stays</div>
            <div class="desc">
              Spaces that are more than just a place to sleep.
            </div>
          </div>
        </div>
        <div class="card" onclick="location.href='/aboutUs';">
          <div class="img" style="
                background-image: url('https://images.unsplash.com/photo-1583133269972-ebffbbe115b8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');
              "></div>
          <div class="description">
            <div class="title">Online Experiences</div>
            <div class="desc">A new way to travel from home.</div>
          </div>
        </div>
        <div class="card" onclick="location.href='/aboutUs';">
          <div class="img" style="
                background-image: url('https://images.unsplash.com/photo-1535827841776-24afc1e255ac?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');
              "></div>
          <div class="description">
            <div class="title">Entire homes</div>
            <div class="desc">
              Comfortable private places, with room for friends or family.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="experience_cards">
      <div class="desc">
        <div class="text">
          <h1>Monthly Promotion!</h1>
          <p>Not afford to go somewhere? Not easy to book when you want?</p>
          <p>Our best promotion will remove all of your matters!!</p>
        </div>
        <button class="explore_btn">Explore all</button>
      </div>
    </div>
    <div class="experience_cards cardList">
      <div class="card" onclick="location.href='#';">
        <div class="img" style="
              background-image: url('https://images.unsplash.com/photo-1601224065850-24bfad5400bd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1189&q=80');
            "></div>
        <div class="description">
          <div class="promote_desc">
            Checking our 2020's new accommodation with big promotions!
          </div>
        </div>
      </div>
      <div class="sub_cards">
        <div class="above_cards">
          <div class="card" onclick="location.href='#';">
            <div class="img" style="
                  background-image: url('https://images.unsplash.com/photo-1533452171465-a53bec7eb8e8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80');
                "></div>
            <div class="description">
              <div class="promote_desc">
                Not easy to go somewhere? It's okay go to nearby your home!
              </div>
            </div>
          </div>
          <div class="card" onclick="location.href='#';">
            <div class="img" style="
                  background-image: url('https://images.unsplash.com/photo-1494526585095-c41746248156?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80');
                "></div>
            <div class="description">
              <div class="promote_desc">
                New released! Now Pre-booking is available
              </div>
            </div>
          </div>
        </div>

        <div class="card bottom_card" onclick="location.href='#';">
          <div class="img" style="
                background-image: url('https://images.unsplash.com/photo-1524813686514-a57563d77965?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1189&q=80');
              "></div>
          <div class="description">
            <div class="promote_desc">Take a survey and get a coupon!</div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <div class="line"></div>
  <footer>
  </footer>
</body>

</html>