<!-- 
  Name: Jun Song
Seneca ID Number : 141973198
Date: 2020-10-25
Purpose: approve for submitting WEB322 Assignment2
 -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="/logo.ico">
  <title>WWBnB rooms</title>
  <link rel="stylesheet" href="css/style.css" />
  <link rel="stylesheet" href="css/room.css" />
  <script src="js/index.js" defer></script>
  <script src="js/room.js" defer></script>
  <script src="https://kit.fontawesome.com/a3fe2e3e5e.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="overlay">
    {{> sign_login}}
  </div>
  <header>
    {{> header}}
  </header>
  <main>
    <section class="listing">
      <h1 class="title">Our listing for you</h1>

      <div class="listing-container">
      </div>
    </section>
  </main>
  <hr class="line">
  </hr>
  <footer>
  </footer>
</body>

</html>